<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lost4found.dao.BookDao">
	
	<resultMap type="cn.lost4found.entity.BookEntity" id="bookEntity"
		autoMapping="true">
		<id property="id" column="id" />
		<result property="pressTime" column="press_time" />
		<result property="addTime" column="add_time" />
	</resultMap>
	
	<insert id="insert">
		insert into info_book
			(id, name, description, author, press, press_time, price, add_time)
		values
			(#{id}, #{name}, #{description}, #{author}, #{press}, #{pressTime}, #{price}, #{addTime})
	</insert>
	
	<select id="select" resultMap="bookEntity">
		select * from info_book where
		${uf}=#{value}
	</select>
	
	<select id="selectByKey" resultMap="bookEntity">
		select * from info_book
		where
		name like #{key}
		limit #{first},#{end}
	</select>
	
	<select id="selectTotalRows" resultType="Integer">
		select count(*) from info_book
		where name like #{key}
	</select>
	
	<select id="queryByNameDescAuthorPressLimited" resultType="java.lang.String">
		select id from info_book where
		name like #{arg0} or description like #{arg0} or author like #{arg0}
		or press like #{arg0} limit #{arg1}, #{arg2}
	</select>
	
	<select id="queryOrderLimitByArgs" resultType="java.lang.String">
		select id from info_book 
		order by ${arg0} limit #{arg1}, #{arg2}
	</select>
	
	<select id="queryOrderDescLimitByArgs" resultType="java.lang.String">
		select id from info_book 
		order by ${arg0} desc limit #{arg1}, #{arg2}
	</select>
	
	<update id="update">
		update info_book
		set name=#{name},
			description=#{description},
			author=#{author},
			press=#{press},
			press_time=#{pressTime},
			price=#{price}
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from info_book
		where ${uf}=#{value}
	</delete>
	
</mapper>