<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lost4found.dao.CoverDao">

	<resultMap type="cn.lost4found.entity.CoverEntity" id="CoverEntity"
		autoMapping="true">
		<id property="id" column="id" />
		<result property="bookId" column="book_id" />
		<result property="imageString" column="image_stream" />
	</resultMap>

	<select id="select" resultMap="CoverEntity">
		select * 
		from info_book_image 
		where ${uf}=#{value}
	</select>
	
	<select id="exist" resultType="Integer">
		select count(*) 
		from info_book_image
		where ${uf}=#{value}
	</select>
	
	<select id="selectByBookId" resultType="String">
		select image_stream
		from info_book_image
		where ${uf}=#{value}
	</select>
	
	<insert id="insert">
		insert into info_book_image 
		(id,book_id,image_stream) 
		values
		(#{id},#{bookId},#{imageString})
	</insert>
	
	<delete id="delete">
		delete from info_book_image
		where ${uf}=#{value}
	</delete>
	
</mapper>