<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lost4found.dao.IndentDao">
	<resultMap type="cn.lost4found.entity.IndentEntity" id="indentEntity"
		autoMapping="true">
		<id property="id" column="id" />
		<result property="bookId" column="book_id" />
		<result property="userId" column="user_id" />
		<result property="receiverName" column="receiver_name" />
		<result property="receiverTel" column="receiver_tel" />
		<result property="commentLevel" column="comment_level" />
		<result property="commentContent" column="comment_content" />
		<result property="commentTime" column="comment_time" />
		<result property="generateTime" column="generate_time" />
	</resultMap>
	<resultMap type="cn.lost4found.dto.CommentDto" id="commentDto">
		<result property="userId" column="user_id" />
		<result property="content" column="comment_content" />
		<result property="time" column="comment_time" />
		<result property="level" column="comment_level" />
	</resultMap>
	<resultMap type="cn.lost4found.entity.manager.IndentEntity" id="managerIndentEntity"
		autoMapping="true">
		<id property="id" column="id" />
		<result property="bookId" column="book_id" />
		<result property="userId" column="user_id" />
		<result property="receiverName" column="receiver_name" />
		<result property="receiverTel" column="receiver_tel" />
		<result property="commentLevel" column="comment_level" />
		<result property="commentContent" column="comment_content" />
		<result property="commentTime" column="comment_time" />
		<result property="generateTime" column="generate_time" />
		<result property="bookName" column="bookName"/>
		<result property="userName" column="userName"/>
	</resultMap>
	
	
	<select id="select" resultMap="indentEntity">
		select * from info_indent where
		${uf}=#{value}
	</select>

	<select id="queryAvgOfCommentLevelByBookId" resultType="java.lang.Double">
		select AVG(comment_level) from info_indent where
		book_id=#{bookId} and status=5
	</select>

	<select id="queryTotalOfCommentByBookId" resultType="java.lang.Integer">
		select count(*) from info_indent where
		book_id=#{bookId} and status=5
	</select>

	<select id="queryAllUnfinishedIndentByUserId" resultMap="indentEntity">
		select * from info_indent where
		user_id=#{userId} and status in (1, 2, 3)
	</select>

	<select id="queryAllFinishedIndentByUserId" resultMap="indentEntity">
		select * from info_indent where
		user_id=#{userId} and status in (4, 5)
	</select>
	
	<select id="queryCommentsLimitByBookId" resultMap="commentDto">
		select * from info_indent where
		book_id=#{arg0} and status=5 order by comment_time desc limit #{arg1}, 10
	</select>
	
	<insert id="insert">
		insert into info_indent
			(id, book_id, user_id, receiver_name, receiver_tel, address, 
			comment_level, comment_content, comment_time, generate_time, status)
		values
			(#{id}, #{bookId}, #{userId}, #{receiverName}, #{receiverTel}, #{address},
			#{commentLevel}, #{commentContent}, #{commentTime}, #{generateTime}, #{status})
	</insert>
	
	<update id="update">
		update info_indent set
			book_id=#{bookId}, 
			user_id=#{userId}, 
			receiver_name=#{receiverName}, 
			receiver_tel=#{receiverTel}, 
			address=#{address}, 
			comment_level=#{commentLevel}, 
			comment_content=#{commentContent}, 
			comment_time=#{commentTime}, 
			generate_time=#{generateTime}, 
			status=#{status}
		where
			id=#{id}
	</update>
	
	
	<select id="selectById" resultMap="managerIndentEntity">
		select ii.* ,ib.name as bookName,iu.nickname as userName
		from info_indent as ii,info_book as ib,info_user as iu
		where ii.id=#{id} and ii.book_id=ib.id and ii.user_id= iu.id
		
	</select>
	
	<select id="selectByStatus" resultMap="managerIndentEntity">
		select ii.* ,ib.name as bookName,iu.nickname as userName
		from info_indent as ii,info_book as ib,info_user as iu
		where ii.status=#{status} and ii.book_id=ib.id and ii.user_id= iu.id
		order by generate_time desc
		limit #{first},#{end}
	</select>
	
	<select id="selectByDto" resultMap="managerIndentEntity">
		select ii.* ,ib.name as bookName,iu.nickname as userName
		from info_indent as ii,info_book as ib,info_user as iu
		where ii.book_id=ib.id and ii.user_id= iu.id
		<trim prefix="" suffix="" suffixOverrides="">
			<if test="bookName!=null and bookName!=''">
				and ii.book_id in (select id from info_book where name like '%${bookName}%')
			</if>
			<if test="userName!=null and userName!=''">
				and ii.user_id in (select id from info_user where nickname like '%${userName}%')
			</if>
			<if test="generateTime!=null and generateTime!=''">
				and generate_time like '${generateTime}%'
			</if>
			<if test="status!=null and status!=''">
				and status = #{status}
			</if>
		order by generate_time desc
		limit #{first},#{end}
		</trim>
	</select>
	<select id="selectCountByDto" resultType="Integer">
		select count(*)
		from info_indent as ii,info_book as ib,info_user as iu
		where ii.book_id=ib.id and ii.user_id= iu.id
		<trim prefix="" suffix="" suffixOverrides="">
			<if test="bookName!=null and bookName!=''">
				and ii.book_id in (select id from info_book where name like '%${bookName}%')
			</if>
			<if test="userName!=null and userName!=''">
				and ii.user_id in (select id from info_user where nickname like '%${userName}%')
			</if>
			<if test="generateTime!=null and generateTime!=''">
				and generate_time like '${generateTime}%'
			</if>
			<if test="status!=null and status!=''">
				and status = #{status}
			</if>
		</trim>
	</select>
	<update id="changeIndentStatus">
		update info_indent
		set status=#{status}
		where id=#{id}
	</update>
	
	
	
	
</mapper>