<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lost4found.dao.UserDao">
	
	<resultMap type="cn.lost4found.entity.UserEntity" id="userEntity"
		autoMapping="true">
		<id property="id" column="id" />
	
	</resultMap>

	<select id="select" resultMap="userEntity">
		select * from info_user where
		${uf}=#{value}
	</select>
	
	<insert id="insert">
		insert into info_user
			(id, account, password, nickname, telephone, email)
		values
			(#{id}, #{account}, #{password}, #{nickname}, #{telephone}, #{email})
	</insert>
	
	<update id="update">
		update info_user set
			account=#{account}, password=#{password},
			nickname=#{nickname}, telephone=#{telephone}, email=#{email}
		where
			id=#{id}
	</update>
</mapper>