body, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "微软雅黑";
}
img {
	border: 1px solid #C0C0C0;
}
.com-text-center {
	text-align: center;
}
.com-text-right {
	text-align: right;
}
.cursorPointer {
	cursor: pointer;
}
.bookName::before {
	content: "《";
}
.bookName::after {
	content: "》";
}
.authorName::before {
	content: "作者：";
	color: #666666;
}
.pressName::before {
	content: "出版社：";
	color: #666666;
}
.pressTime::before {
	content: "出版时间：";
	color: #666666;
}
.rankTotal::after {
	content: "条评价";
	color: #666666;
}
.rankLevel::before {
	content: "平均评分：";
	color: #666666;
}
.price {
	font-family: "微软雅黑";
	color: red;
	padding-left: 30px;
	font-size: 220%;
}
.price::before {
	font-size: 70%;
	content: "￥";
}
.curserPointer {
	cursor: pointer;
}
.bttn {
	font-family: "微软雅黑";
	font-size: 120%;
	padding: 5px 12px;
	border: 1px solid;
	border-radius: 3px;
}
.bttnBuynow {
	background-color: orange;
}
.bttnAddtoCart {
	background-color: white;
}

.bttnFavorite {
	background-color: white;
}

.bttnUnFavorite {
	background-color: white;
}

nav li {
	cursor: pointer;
}
.navbar{
	margin-bottom: 0;
	min-width: 1200px;
}
.errortip{
	color:red;
}
#wrapper {
	position: relative;
	width: 1024px;
	margin: 0 auto;
}
#wrapper > header {
	height: 80px;
}

.logo > img {
	border: none;
	margin-top: 7px;
}

.modal-dialog {
	width: 400px;
}

#wrapper > header > form > input {
	position: absolute;
	padding-left: 7px;
	border: 2px solid orange;
	font-size: 120%;
	outline: none;
	border-right: none;
	line-height: 40px;
	height: 40px;
	width: 300px;
	top: 20px;
	left: 640px;
}
#wrapper > header > form > button {
	position: absolute;
	color: white;
	cursor: pointer;
	font-family: "微软雅黑";
	font-size: 120%;
	border: 2px solid orange;
	outline: none;
	background-color: orange;
	height: 40px;
	width: 80px;
	top: 20px;
	left: 940px;
}
.load-more {
	background-color: #efefef;
	font-family: "微软雅黑";
	font-size: 120%;
	padding: 5px;
	cursor: pointer;
}

.ratyStar {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url(../img/commonLib/stars.png);
	background-repeat: no-repeat;
	background-position: -66px 0;
}

.fullStar {
	background-position: -2px 0;
}

.halfStar {
	background-position: -34px 0;
}
.right-bottom {
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
}