<!DOCTYPE html>
<html ng-app="deal-app">
<head>
<meta charset="UTF-8">
<title>填写订单</title>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-animate.min.js"></script>
<script src="js/lib/jquery-3.1.1.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/common.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css" />
<link rel="stylesheet" href="css/lib/bootstrap-theme.min.css" />
<link rel="stylesheet" href="css/common.css" />
<link rel="stylesheet" href="css/deal.css" />
</head>
<body>
	<nav ng-controller="nav-controller" class="navbar navbar-default"
		role="navigation" novalidate ng-cloak style="border-radius: 0;">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">玄奘书籍销售平台</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li ng-if="user===null">
					<a href="register.html">
					<span class="glyphicon glyphicon-user"></span> 注册</a>
				</li>
				<li ng-if="user===null">
					<a href="login.html">
					<span class="glyphicon glyphicon-log-in"></span> 登录</a>
				</li>
				<li ng-if="user!==null" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">{{nickname}}
						<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a ng-click="toPrivateCenter()">个人中心</a></li>
						<li class="divider"></li>
						<li><a ng-click="logout()">退出登录</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<div id="wrapper" ng-controller="deal-controller"  ng-cloak>
		<form role="form" name="dealForm" novalidate>
			<h3>您正在购买<span class="bookName">{{bookInfo.name}}</span></h3>
			<br>
			<h4>填写收货地址：</h4>
			<span class="errortip">
				{{errorTip}}&nbsp;		
			</span>
			<span class="errortip">
				<span ng-show="dealForm.province.$dirty && dealForm.province.$invalid">
					<span ng-show="dealForm.province.$error.required">请填写收货地所在省</span>&nbsp;
				</span>&nbsp;
	 		</span>
	 		<br>
			<label><input name="province" ng-model="addr.province" ng-change="clearTip()"
				required>省</label>
			<br>
			<span class="errortip">
				<span ng-show="dealForm.city.$dirty && dealForm.city.$invalid">
					<span ng-show="dealForm.city.$error.required">请填收货地所在市</span>&nbsp;
				</span>&nbsp;
	 		</span>
	 		<br>
			<label><input name="city" ng-model="addr.city" ng-change="clearTip()"
				required>市</label>
			<br>
			<span class="errortip">
				<span ng-show="dealForm.street.$dirty && dealForm.street.$invalid">
					<span ng-show="dealForm.street.$error.required">请填写详细收货地址</span>&nbsp;
				</span>&nbsp;
	 		</span>
	 		<br>
			<label><input name="street" ng-model="addr.street" ng-change="clearTip()"
				required>街道（详细地址）</label>
			<br>
			<span class="errortip">
				<span ng-show="dealForm.name.$dirty && dealForm.name.$invalid">
					<span ng-show="dealForm.name.$error.required">请填写收货人姓名</span>&nbsp;
				</span>&nbsp;
	 		</span>
	 		<br>
			<label><input name="name" ng-model="name" ng-change="clearTip()"
				required>收货人姓名</label>
			<br>
			<span class="errortip">
				<span ng-show="dealForm.tel.$dirty">
					<span ng-show="dealForm.tel.$error.required">手机号码不能为空</span>
					<span ng-show="!dealForm.tel.$error.required &&
						dealForm.tel.$invalid">格式错误</span>
				</span>&nbsp;
	 		</span>
	 		<br>
			<label><input name="tel" ng-model="tel" ng-change="clearTip()"
				type="tel" ng-pattern="/^1\d{10}$/" maxlength="11" ng-minlength="11"
				required>收货人联系电话</label>
			<br>
			
			<div>订单金额 <span class="price">{{bookInfo.price}}</span></div>
			<button class="btn btn-success" ng-click="submitIndent()">提交订单</button>
		</form>
	</div>
</body>
<script src="js/controller/deal.js"></script>
</html>
