<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<title>订单详情</title>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-animate.min.js"></script>
<script src="js/lib/angular-md5.min.js"></script>
<script src="js/lib/jquery-3.1.1.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css" />
<link rel="stylesheet" href="css/lib/bootstrap-theme.min.css" />
<link rel="stylesheet" href="css/common.css" />
<link rel="stylesheet" href="css/indent.css" />
</head>
<body>
	<nav ng-controller="nav-controller" class="navbar navbar-default"
		role="navigation" novalidate ng-cloak>
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">玄奘求书</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li ng-if="user===null">
					<a href="register.html">
					<span class="glyphicon glyphicon-user"></span> 注册</a>
				</li>
				<li ng-if="user===null">
					<a href="login.html">
					<span class="glyphicon glyphicon-log-in"></span> 登录</a>
				</li>
				<li ng-if="user!==null" >
					<a href="cart.html">
					<span class="glyphicon glyphicon-shopping-cart"></span> 查看购物车<span class="badge">{{cartTotal}}</span></a>
				</li>
				<li ng-if="user!==null" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">{{nickname}}
						<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a ng-click="toPrivateCenter()">个人中心</a></li>
						<li class="divider"></li>
						<li><a ng-click="logout()">退出登录</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<div ng-controller="indent-controller" id="wrapper" ng-clock>
		<!-- 模态对话框 -->
		<div id="modalEL" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		   		<div class="modal-content">
			        <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			            <h4 class="modal-title">{{modal.title}}</h4>
			        </div>
			        <div class="modal-body">{{modal.content}}</div>
			        <div class="modal-footer">
			            <button class="btn btn-default" data-dismiss="modal">取消</button>
			            <button ng-click="modal.confirm()" class="btn btn-primary" data-dismiss="modal">确定</button>
			        </div>
		   		</div>
			</div>
		</div>
		<header>
			<a class="logo" href="index.html" ><img src="img/commonLib/logo.png"/></a>
			<form name="searchForm" action="search.html" method="GET" novalidate>
				<input name="keyword" placeholder="输入关键字搜索" >
				<button type="submit">搜索</button>
			</form>
		</header>
		<div class="indentDetail" ng-show="user!=null && indentInfo!=null && bookInfo!=null">
			<h3>订单详情：</h3>
			<br>
			<ul>
				<li>订单编号：<span>{{indentInfo.id}}</span></li>
				<li>下单时间：<span>{{indentInfo.generateTime}}</span></li>
				<li>书籍信息：<span class="bookName"><a href={{bookInfo.bookURL}}>{{bookInfo.name}}</a></span></li>
				<li>收货人姓名：<span>{{indentInfo.receiverName}}</span></li>
				<li>收货人电话：<span>{{indentInfo.receiverTel}}</span></li>
				<li>收货地址：<span>{{indentInfo.address}}</span></li>
			</ul>
		</div>
		<div ng-if="indentInfo.status===1">
			<h1>订单已被提交，待支付</h1>
			<div class="operations">
				<span class="price">{{bookInfo.price}}</span><br>
				<button class="btn btn-warning" ng-click="cancelIndent()">取消订单</button>
				<button class="btn btn-success" ng-click="purchase()">立即支付</button>
			</div>
		</div>
		<div ng-if="indentInfo.status===2">
			<h1>支付成功，请耐心等待管理员发货</h1>
			<!-- <div class="operations">
				<button class="btn btn-warning" ng-click="cancelIndent()">取消订单</button>
			</div> -->
		</div>
		<div ng-if="indentInfo.status===3">
			<h1>管理员已发货</h1>
			<div class="operations">
				<button class="btn btn-warning" ng-click="received()">确认收货</button>
			</div>
		</div>
		<div ng-if="indentInfo.status===4">
			<h1>交易已完成，您可以评论此次购物</h1>
			<div class="operations">
				<button class="btn btn-default" data-toggle="modal" data-target="#rateModal">评价</button>
				<button class="btn btn-danger" ng-click="deleteIndent()">删除订单记录</button>
			</div>
		</div>
		<div ng-if="indentInfo.status===5">
			<h1>交易已完成</h1>
			<div class="operations">
				<button class="btn btn-danger" ng-click="deleteIndent()">删除订单记录</button>
			</div>
		</div>
		<div id="rateModal" class="modal fade" id="modalEL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title">添加评价</h4>
		            </div>
		            <div class="modal-body">
		            	<div class="form-group">
    						<label for="name">输入你想说的内容：</label>
							<textarea ng-model="commentContent" class="form-control commentEL" rows="7" maxlength="150" placeholder="最多可输入150个字"></textarea>
						</div>
	    				<label for="name">评星级：</label>
						<div id="starsEL" class="ratyStars">
							<span onclick="onStar(1)" star="1" class="ratyStar fullStar cursorPointer"></span
							><span onclick="onStar(2)" star="2" class="ratyStar fullStar cursorPointer"></span
							><span onclick="onStar(3)" star="3" class="ratyStar fullStar cursorPointer"></span
							><span onclick="onStar(4)" star="4" class="ratyStar emptyStar cursorPointer"></span
							><span onclick="onStar(5)" star="5" class="ratyStar emptyStar cursorPointer"></span>
						</div>
		            </div>
		            <div class="modal-footer">
		                <button class="btn btn-default" data-dismiss="modal">取消</button>
		                <button ng-click="rate()" class="btn btn-primary" data-dismiss="modal">提交</button>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
	<footer>
		<hr><div class="text-center">Copyright &copy; 玄奘求书 2017-2018, All Rights Reserved</div><hr>
	</footer>
</body>
<script src="js/common/app.js" ></script>
<script src="js/controller/nav.js" ></script>
<script src="js/controller/indent.js"></script>
</html>
