<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<title>首页</title>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-animate.min.js"></script>
<script src="js/lib/angular-md5.min.js"></script>
<script src="js/lib/jquery-3.1.1.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css" />
<link rel="stylesheet" href="css/lib/bootstrap-theme.min.css" />
<link rel="stylesheet" href="css/common.css" />
<link rel="stylesheet" href="css/index.css" />
</head>
<body>
	<nav ng-controller="nav-controller" class="navbar navbar-default"
		role="navigation" novalidate ng-cloak>
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">玄奘书籍销售平台</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li ng-if="user===null">
					<a href="register.html">
					<span class="glyphicon glyphicon-user"></span> 注册</a>
				</li>
				<li ng-if="user===null">
					<a href="login.html">
					<span class="glyphicon glyphicon-log-in"></span> 登录</a>
				</li>
				<li ng-if="user!==null" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">{{nickname}}
						<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a ng-click="toPrivateCenter()">个人中心</a></li>
						<li class="divider"></li>
						<li><a ng-click="logout()">退出登录</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<div id="wrapper" ng-controller="index-controller" ng-cloak>
		<header>
			<a class="logo" href="index.html" ><img src="img/commonLib/logo.png"/></a>
			<form name="searchForm" action="search.html" method="GET" novalidate>
				<input name="keyword" placeholder="输入关键字搜索" >
				<button type="submit">搜索</button>
			</form>
		</header>
		<div id="category">
			<div id="title-category">
				<h3 class="com-text-center">图书分类</h3>
			</div>
			<div id="items-category">
				<div>
					<span>教育</span>
					<a href="category.html?word=教程">教程</a>
					<a href="category.html?word=教材">教材</a>
					<a href="category.html?word=考试">考试</a>
					<a href="category.html?word=工具书">工具书</a>
					<a href="category.html?word=中小学辅导">中小学辅导</a>
				</div>
				<div>
					<span>小说</span>
					<a href="category.html?word=古典小说">古典小说 </a>
					<a href="category.html?word=现代小说">现代小说</a>
					<a href="category.html?word=网络小说">网络小说</a>
					<a href="category.html?word=外国小说">外国小说</a>
				</div>
				<div>
					<span>文艺</span>
					<a href="category.html?word=文学">文学</a>
					<a href="category.html?word=传记">传记</a>
					<a href="category.html?word=艺术">艺术</a>
					<a href="category.html?word=摄影">摄影</a>
				</div>
				<div>
					<span>儿童</span>
					<a href="category.html?word=科普">科普</a>
					<a href="category.html?word=幼儿启蒙">幼儿启蒙</a>
					<a href="category.html?word=益智">益智</a>
				</div>
				<div>
					<span>生活</span>
					<a href="category.html?word=美食">美食</a>
					<a href="category.html?word=旅游">旅游</a>
					<a href="category.html?word=休闲">休闲</a>
					<a href="category.html?word=美妆">美妆</a>
				</div>
				<div>
					<span>科技</span>
					<a href="category.html?word=建筑">建筑</a>
					<a href="category.html?word=医学">医学</a>
					<a href="category.html?word=计算机">计算机</a>
					<a href="category.html?word=农林">农林</a>
					<a href="category.html?word=自然">自然</a>
					<a href="category.html?word=工业">工业</a>
				</div>
			</div>
		</div>
		<div id="img-exhibition" class="carousel slide">
			    <!-- 轮播（Carousel）指标 -->
			    <ol class="carousel-indicators">
			        <!-- <li data-target="#img-exhibition" data-slide-to="0" class="active"></li>
			        <li data-target="#img-exhibition" data-slide-to="1"></li>
			        <li data-target="#img-exhibition" data-slide-to="2"></li> -->
			    </ol>   
			    <!-- 轮播（Carousel）项目 -->
			    <div class="carousel-inner">
			        <!-- <div class="item active">
			            <img >
			        </div>
			        <div class="item">
			            <img >
			        </div>
			        <div class="item">
			            <img >
			        </div> -->
			    </div>
			    <!-- 轮播（Carousel）导航 -->
			    <a class="carousel-control left" href="#img-exhibition" data-slide="prev">&lsaquo;</a>
			    <a class="carousel-control right" href="#img-exhibition" data-slide="next">&rsaquo;</a>
		
			<!-- <img src="img/index/exihibitions/01.jpg" /> -->
		</div>
		<div id="newBooksEL">
			<h3><span>新书上架</span><div></div></h3>
			<div class="containerEL">
			
			</div>
		</div>
		<div>
			<h1>为您推荐</h1>
			
		</div>
	</div>
	

</body>
<script src="js/common/app.js" ></script>
<script src="js/controller/nav.js" ></script>
<script src='js/controller/index.js'></script>
</html>
