<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<title></title>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-animate.min.js"></script>
<script src="js/lib/angular-md5.min.js"></script>
<script src="js/lib/jquery-3.1.1.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css" />
<link rel="stylesheet" href="css/lib/bootstrap-theme.min.css" />
<link rel="stylesheet" href="css/common.css" />
<link rel="stylesheet" href="css/search.css" />
<style>
	
	
</style>
</head>
<body>
	<nav ng-controller="nav-controller" class="navbar navbar-default"
		role="navigation" novalidate ng-cloak style="border-radius: 0;">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">玄奘书籍销售平台</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li ng-if="user===null">
					<a href="register.html">
					<span class="glyphicon glyphicon-user"></span> 注册</a>
				</li>
				<li ng-if="user===null">
					<a href="login.html">
					<span class="glyphicon glyphicon-log-in"></span> 登录</a>
				</li>
				<li ng-if="user!==null" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">{{nickname}}
						<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a ng-click="toPrivateCenter()">个人中心</a></li>
						<li class="divider"></li>
						<li><a ng-click="logout()">退出登录</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	
	<div id="wrapper" ng-controller="search-controller">
		<header>
			<form>
				<input>
				<button ng-disabled=" loginForm.account.$error.required">搜索</button>
			</form>
		</header>
		<div >
			<div id="books">
				<!-- js自动生成内容 -->
			</div>
			<div ng-click="loadSearchResult()" class="text-center load-more">
				点击加载更多
			</div>
			<div class="modal fade" id="modalEL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			    <div class="modal-dialog">
			        <div class="modal-content">
			            <div class="modal-header">
			                <h4 class="modal-title">{{modalDialog.title}}</h4>
			            </div>
			            <div class="modal-body">{{modalDialog.content}}</div>
			            <div class="modal-footer">
			                <button ng-if="modalDialog.hasCancel" ng-click="cancel()" class="btn btn-default">取消</button>
			                <button ng-if="modalDialog.hasConfirm" ng-click="confirm()" class="btn btn-primary" data-dismiss="modal">确定</button>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
	
</body>
<script src="js/common/app.js" ></script>
<script src="js/controller/nav.js" ></script>
<script src="js/controller/search.js" ></script>
</html>
