<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<title>个人中心</title>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-animate.min.js"></script>
<script src="js/lib/angular-md5.min.js"></script>
<script src="js/lib/jquery-3.1.1.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css" />
<link rel="stylesheet" href="css/lib/bootstrap-theme.min.css" />
<link rel="stylesheet" href="css/common.css" />
<link rel="stylesheet" href="css/user.css" />
</head>
<body>
	<nav ng-controller="nav-controller" class="navbar navbar-default"
		role="navigation" novalidate ng-cloak>
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">玄奘求书</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li ng-if="user===null">
					<a href="register.html">
					<span class="glyphicon glyphicon-user"></span> 注册</a>
				</li>
				<li ng-if="user===null">
					<a href="login.html">
					<span class="glyphicon glyphicon-log-in"></span> 登录</a>
				</li>
				<li ng-if="user!==null" >
					<a href="cart.html">
					<span class="glyphicon glyphicon-shopping-cart"></span> 查看购物车<span class="badge">{{cartTotal}}</span></a>
				</li>
				<li ng-if="user!==null" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">{{nickname}}
						<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a ng-click="toPrivateCenter()">个人中心</a></li>
						<li class="divider"></li>
						<li><a ng-click="logout()">退出登录</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<div id="wrapper" ng-controller="user-controller" ng-cloak>
		<header>
			<a class="logo" href="index.html" ><img src="img/commonLib/logo.png"/></a>
			<form name="searchForm" action="search.html" method="GET" novalidate>
				<input name="keyword" placeholder="输入关键字搜索" >
				<button type="submit">搜索</button>
			</form>
		</header>
		<div class="panel panel-default">
	    	<div class="panel-heading">
	        	<h3 class="panel-title com-text-center">个人信息</h3>
	   		</div>
	    	<div id="profileEL" class="panel-body">
	    		<img class="icon">
	    		<div class="detail">
	        		<span>昵称：{{user.nickname}}</span>
	        		<span>手机号：{{user.telephone}}</span>
	        		<span>注册邮箱：{{user.email}}</span>
	    		</div>
	   		</div>
		</div>
		<div class="panel panel-default">
	    	<div class="panel-heading">
	        	<h3 class="panel-title com-text-center">未完成订单<a class="cursorPointer" data-toggle="collapse" data-target="#unFinishedIndentEL">&lt;显示/隐藏&gt;</a></h3>
	   		</div>
	    	<div id="unFinishedIndentEL" class="panel-body collapse in">
				<!-- js填充  -->
				<div class="noItem">
	        		<span class="glyphicon glyphicon-exclamation-sign">您没有<b>未</b>完成的订单</span>
	        	</div>
	   		</div>
		</div>
		<div class="panel panel-default">
	    	<div class="panel-heading">
	        	<h3 class="panel-title com-text-center">已完成订单<a class="cursorPointer" data-toggle="collapse" data-target="#finishedIndentEL">&lt;显示/隐藏&gt;</a></h3>
	   		</div>
	    	<div id="finishedIndentEL" class="panel-body collapse in">
				<!-- js填充  -->
				<div class="noItem">
	        		<span class="glyphicon glyphicon-exclamation-sign">您没有<b>已</b>完成的订单</span>
	        	</div>
	   		</div>
		</div>
		<div class="panel panel-default">
	    	<div class="panel-heading">
	        	<h3 class="panel-title com-text-center">我的收藏夹<a class="cursorPointer" data-toggle="collapse" data-target="#favoriteBookEL">&lt;显示/隐藏&gt;</a></h3>
	   		</div>
	    	<div id="favoriteBookEL" class="panel-body collapse in">
	        	<div class="noItem">
	        		<span class="glyphicon glyphicon-exclamation-sign">没有收藏，去<a href="index.html">主页</a>看看吧</span>
	        	</div>

	   		</div>
		</div>
		
		
	</div>
	<footer>
		<hr><div class="text-center">Copyright &copy; 玄奘求书 2017-2018, All Rights Reserved</div><hr>
	</footer>
</body>
<script src="js/common/app.js" ></script>
<script src="js/controller/nav.js" ></script>
<script src='js/controller/user.js'></script>
</html>
